body{
    background-image: url(pen.jfif);
    background-repeat: no-repeat;
    background-size: 1400px 500px;
}
form{
    border: solid 1px;
    width: 450px;
    margin-left: 100px;
}
lable{
    font-size: 22px;
    color: rgb(25, 0, 255);
    font-weight: bold;
}
input{
    height: 35px;
    width: 300px;
    border-radius: 20px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 50px;
    width: 150px;
    background-color: rgb(255, 80, 80);
    font-size: 22px;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
}