{
    pading: 0px;
    margin: 0px;
}
ul{
    border: solid 1px;
    width: 320px;
    position: fixed;
    height: 100%;
    background-color: skyblue;
}
    text1{
color: pink;
font-size: 20px;
font-weight: bold;    
}
text2{
    color: violet;
    font-size: 20px;
    font-weight: bold;
}
ul li{
    border: solid 1px;
    height: 100px;
    width: 160px;
    margin-left: 70px;
    background-color: blue;
    text-align: center;
    line-height: 95px;
    border-radius: 20px;
    margin-bottom: 10px;
}
ul li a{
    color: orange;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: white;
}
#home{
border: solid 1px;
height: 680px;
background-color: rgb(207, 132, 182);
padding-left: 445px;
}
#text3{
    color: purple;
    font-size: 25px;
}
#text4{
    color: purple;
    font-size: 25px;
}
#text5{
    font-size: 25px;
    font-weight: bold;
}
#bt1{
    height: 100px;
    width: 200px;
    background-color: rgb(204, 92, 189);
    border-radius: 20px;
    color: grey;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
#about{
    border: solid 1px;
    height: 680px;
    background-color: brown;
    padding-left: 100px;
}
#about me{
    font-size: 50px;
color: aqua;

}




